body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", "Inter", "Monrope" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:hidden;
}

#subscribe {
  background-image: url("./assets/images/subImg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}


.home, .about, .contact, .page{
  overflow-x: hidden;
}

.container {
  padding: 3rem 6.25rem;
  overflow-x:hidden;
}

a {
  text-decoration: none;
}

/* Screen sizes to come later */
/* 380px */
/* 590px */
/* 786px */
/* 1024px */
/* 1240px */


@media(max-width:1024px) {
  .container {
    padding: 2rem 5rem;
  }
}


  @media(max-width:640px) {
    html,
      body {
        overflow-x: hidden;
      }
    
      body {
        position: relative;
      }
    
      .container {
        padding: 20px 20px 30px;
      }
    #subscribe {
      padding: 90px 34px;
      background: linear-gradient(180deg, rgba(12, 31, 38, 0.00) -16.11%, #0C1F26 114.32%),url('./assets/images/subscription-mobile-view.jpg');
      background-repeat: no-repeat;
      background-position:center center;
      background-size:cover;
      background-attachment:local;
  
    }
  }
